* {
    font-family: "Moderustic", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 210, 210);
}

.desarrollo {
    background-color: rgba(241, 63, 63, 0.932);
    border-radius: 5px;
    margin: auto;
    width: 100vw;
}  

.desarrollo p{
    color: antiquewhite;
    font-size: 25px ;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container iframe{
    width: 800px;
    height: 500px;
}

.shift{
    background-color: rgba(241, 63, 63, 0.932);
    margin-top: 25px;
    color: antiquewhite;
    font-size: 35px;
    border-radius:5px;
    transition: all .8 ease;
}

.shift:hover {
    border: 2px solid white;
    color: black;
    box-shadow: 5px 5px black;
}

/*  SECCION TITULADA ¿PORQUE ESTE PROGRAMA ES PARA VOS?*/


.wrapper {
    display: block;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
}

.sections-headers{
    background-color: black;
    border-radius: 5px;
    width: 90vw;
}

.headers-p{
    color: antiquewhite;
    font-size: 35px;
    text-align: center;
}

.answer{
    font-size: 25px;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
}

/* SECCION TITULADA ¿QUE VAS A ENCONTRAR EN ESTE CURSO?*/

.wrapper-find{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}

.answer-find{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.individuality{
    display: flex;
    flex-direction: row;
    border: 5px solid rgba(241, 63, 63, 0.932);
    margin: 10px;
    border-radius: 15px;
    width: 650px;
    text-align: center;
    align-items: center;
}

.individuality i{
    font-size: 55px;
    position: relative;
    margin: 10px;
}

.individuality-desc{
    margin: 10px;

}

.individuality p{
    font-size: 15px;
    text-align: center;
    position: relative;
}

.find-closure{
    font-size: 35px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

/* SECCION TITULADA PROGRAMA DE ENTRENAMIENTO */

.wrapper-program{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.wrapper-program h3{
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

.rutines{
    text-align: center;
    font-size: 25px;
}

.videos-examples {
    display:flex;
    justify-content: space-between;
}

.examples{ 
    position: relative;
    width: 33%;
}

.examples p{
    width: 70%;
    font-size: 15px;
    text-align: start;
}

.examples iframe{
    width: 100%;
    height: 316px;
    border-radius: 5px;
}

/* SECCION TITULADA PRECIO */

.wrapper-valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.wrapper-valor h3{
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

.valor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
}

.pagos {
    border: 5px solid  rgba(241, 63, 63, 0.932);
    border-radius: 15px;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 250px;
    margin: auto;
}

/*  AQUI ARRANCA LA SECCION CONTACTO */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;
}

.contact a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.contact i{
    font-size: 55px;
    margin: 0 45px 45px 0;
}

/*  AQUI ARRANCA LA SECCION FOOTER */

.footer {
    display: flex;
    text-align: center;
}

@media (max-width:768px){

    .desarrollo{
        width: 90vw;
        margin: 0;
    }

    .video-container iframe{
        width: 500px;
        height: 315px;
    }

    .headers-p{
        font-size: 25px;
    }

    .shift{
        font-size: 25px;
    }

    .answer{
        width: 90vw;
    }

    .answer-find{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .individuality{
        width: 75%;
    }

    .find-closure{
        font-size: 25px;
    }

    .rutines{
        width: 75%;
    }

    .videos-examples{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .examples{
        width: 75%;
    }
}

@media (max-width:455px){

    .desarrollo{
        font-size: 15px;

    }

    .video-container iframe{
        width: 300px;
        height: 175px;
    }
}